body {
  background-color: #f7f7f7;
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
  font-family: Arial, sans-serif;
}

main{
  border-radius: 10px;
  padding: 4%;
  background-color: #3498db;
}

h1, h2 {
  color: #fdfdfd;
}

a {
  color: #b91c00; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.conteudo {
  margin: 20px;
  padding: 15px;
  background-color: white;
  border: 1px solid #dcdcdc;
}

a:hover {
  color: #c0392b; 
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}
